
:root {
  --clr-primary-black: rgb(0, 0, 0);
  --clr-secondary-gray: rgb(95, 95, 95);
  --clr-accent-orange: rgb(228, 68, 0);
  --clr-accent-blue: rgb(56, 0, 255);
  --clr-background-front: rgb(255, 255, 255);
  --clr-background-rear: rgb(245, 245, 247);

  --ff-primary: 'Lato', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-450: 1.4rem;
  --fs-500: 1.5rem;
  --fs-600: 2.5rem;
  --fs-700: 3.5rem;
  --fs-1: 1.2rem;

  --fs-body: var(--fs-1);
  --fs-s-body: var(--fs-400);
  --fs-nav: var(--fs-500);
  --fs-lg-title: var(--fs-700);
  --fs-title: var(--fs-600);
  --fs-sub-title: var(--fs-500);
  --fs-phone-title: var(--fs-450);
  --fs-x-sub-title: var(--fs-400);
  --fs-xx-sub-title: var(--fs-300);

  --size-300: 0.3rem;
  --size-400: 0.5rem;
  --size-600: 1.5rem;
  --size-700: 2rem;

}

body{
  background: var(--clr-background-rear);
}

/* Link */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:link{
  text-decoration: none;
  color: var(--clr-accent-blue)
}
a:hover{
  text-decoration: underline;
}

a:visited{
  color: var(--clr-accent-blue)
}

/* Make images easier to work with */
img,
picture,
svg {
max-width: 100%;
display: block;
border-radius: 10px;
}

.nav-link.active {
  background-color: var(--clr-accent-blue) !important;
}

.nav-link {
  color: var(--clr-primary-black);
}

.nav-link:hover {
  color: var(--clr-accent-blue);
}

.contp{
  background: var(--clr-background-front);
  border-radius: 10px;
  /*box-shadow: 0px 0px 10px 10px rgba(238, 238, 238, 0.587);*/
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  max-width: 600px;
}

.cover{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gitsource{
  background-color: var(--clr-accent-blue);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}


.stack-columns{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.even-columns {
  display: flex;
  gap: 0.5rem;
}

.hero-intro{
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 15rem;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
}

.prj-sec-title{
  text-align: center;
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
}

.prj-tags{
  color: var(--clr-secondary-gray);
  font-size: var(--fs-xx-sub-title);
}

.prj-title{
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
}

.prj-desc{
  font-size: var(--fs-body);
}

.prj-stack{
  background: var(--clr-background-rear);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: var(--fs-x-sub-title);
}

.prj-stack-title{
  margin-top: 1rem;
  font-weight: var(--fw-semi-bold);
}


.footer-info{
  color: #ffffff;
}


@media (max-width: 62em){
  .container{
      text-align: center;
  }
  .hero-intro{
      font-size: var(--fs-sub-title);
      padding-top: 4rem;
      padding-bottom: 4rem;
      margin-bottom: 2rem;
      color: rgb(255, 255, 255);
  }

  .prj-sec-title{
      font-size: var(--fs-phone-title);
      font-weight: var(--fw-bold);
  }

  .prj-tags{
      color: var(--clr-secondary-gray);
      font-size: var(--fs-xx-sub-title);
  }
  
  .prj-title{
      font-size: var(--fs-phone-title);
      font-weight: var(--fw-bold);
  }
  
  .prj-desc{
      font-size: var(--fs-s-body);
  }
  
  .prj-stack{
      text-align: center;
      font-size: var(--fs-xx-sub-title);
  }
  
  .prj-stack-title{
      font-size: var(--fs-xx-sub-title);
      font-weight: var(--fw-semi-bold);
  }

  .stack-columns{
      justify-content: center;
      align-items: center;
  }

  .even-columns{
    display: flex;
    flex-wrap: wrap;
  }
  .info{
      min-width: 100px;
      max-width: 100%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  }
}


.hero-bcg{
  background-image: url(images/Bcg-Hro.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-color: #000000;*/
}

.fw-bold{
  font-weight: var(--fw-bold);
}
.fw-semi-bold{
  font-weight: var(--fw-semi-bold);
}
.fw-regular{
  font-weight: var(--fw-regular);
}

.fs-title{
  font-size: var(--fs-title);
}
.fs-sub-title{
  font-size: var(--fs-sub-title);
}
.fs-s-sub-title{
  font-size: var(--fs-s-sub-title);
}
.fs-sup-little{
font-size: var(--fs-sup-little);
}

.padding-block-400{
  padding-block: var(--size-400);
}